
.background--div  { 
    /* background-color: red; */
    height: 100vh;
    background: url("../images/JPL\ Center\ for\ Near\ Earth\ Object\ Studies\ CNEOS\ -\ NASA\ Double\ Asteroid\ Redirect\ Test\ DART\ mission\ 2021-12-06.jpg") no-repeat center center fixed ;
    background-size: 100vh;
}

.Container  { 
    /* background-color: red; */
    height: 100vh;
    background: url("../images/JPL\ Center\ for\ Near\ Earth\ Object\ Studies\ CNEOS\ -\ NASA\ Double\ Asteroid\ Redirect\ Test\ DART\ mission\ 2021-12-06.jpg") no-repeat center center fixed ;
    background-size: 100vh;
}

.expense--header {
    display: flex;
    align-items: center;
    height: 95px;
    background: linear-gradient(90deg, #940202 1.18%, #3403a5 100%);
    color: white;
    padding: 20px;
}

.header--image {
    height: 120%;
    margin-right: 6px;
    border-radius: 50px;
}

.header--title {
    font-size: 1.25rem;
    margin-right: auto;
}

.header--project {
    font-size: 0.75rem;
    font-weight: 500;
}

.table--header {
    background-color: inherit;
    border: none;
    padding: 1px
}

.sort--image {
    max-width: 20%;
    min-width: 10%;
    border-radius: 25px;
    border: 2px solid blue;
    padding: 2px
}